---
title: Acerca de Niño Huracán
sortOrder: 3
---
<div class="content">
	<h2>{{acerca.title}}</h2>
	<p>{{acerca.summary}}</p>
	<h3>{{acerca.misionTitle}}</h3>
	<p>{{acerca.mision}}</p>
	<h3>{{acerca.visionTitle}}</h3>
	<p>{{acerca.vision}}</p>
</div>
