---
title: Eventos
sortOrder: 1
---
<h2>Eventos</h2>
{{#each events.flyer}}		
	<div class="event-board">
    	<div class="event-row">
			<div class="event-cell">
				<a target="_blank" href="{{url1}}">
					<img src="{{image1}}">
				</a>  
    		</div>
    		<div class="event-cell"> 
    			<div class="info">
	    			<h3>{{title1}}</h3>
	    			<h4>{{date1}}</h4>
			    	<p>{{description1}}</p>   		
			    </div>	
    		</div>
	    </div>
	</div>    
	<div class="event-board">    
		<div class ="event-row">			
    		<div class="event-cell"> 
    			<div class="info">
	    			<h3>{{title2}}</h3>
	    			<h4>{{date2}}</h4>
			    	<p>{{description2}}</p>   		
			    </div>	
    		</div>
			<div class="event-cell">
				<a target="_blank" href="{{url2}}">
					<img src="{{image2}}">
				</a>  
    		</div>
	    </div>	
	</div>
{{/each}}