<div class="showcase-slide">
	{{#each site.slideShowItems}}
    	<div class="slide {{cssClass}}">
    		<img src="{{image}}" alt="{{altImage}}">
	    </div>
	{{/each}}
</div>
<div class="showcase-toolbar">
    <ul class="indicators">
    {{#each site.slideShowItems}}
      <li>
        <a class="indicator indicator{{@index}}" href="#slideshow"><img class="indicator-pin indicator-pin{{@index}} {{indicatorCssClass}}"></a>
      </li>
		{{/each}}
    </ul>
</div>
<script language='javascript' type='text/javascript'>SLIDESHOW.TOOLBAR.init();</script>
